In [2]:
print("Hi")

Hi

# Variables

In [7]:
num1 = 1
num2 = 20.98
name = "Fiza"
print("Interger: ",num1)
print("Float: ",num2)
print("Name",name)

Interger:  1
Float:  20.98
Name Fiza

In [9]:
x,y,z = "Strawberry","Gauva","Blueberry"

In [10]:
x

'Strawberry'

In [11]:
y

'Gauva'

In [12]:
z

'Blueberry'

In [14]:
print(x," "+y," "+z)

Strawberry  Gauva  Blueberry

In [15]:
p=q=r="temp"
print(p," "+q," "+r)

temp  temp  temp

In [16]:
type(x)

str

In [20]:
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
print(f"The Addition is {num1} + {num2} = ",num1+num2)
print(f"The Subtraction is {num1} - {num2} = ",num1-num2)
print(f"The Multiplication is {num1} * {num2} = ",num1*num2)
print(f"The Division is {num1} / {num2} = ",num1/num2)
print(f"The Modulus is {num1} % {num2} = ",num1%num2)
print(f"The Exponentiation is {num1} ** {num2} = ",num1**num2)
print(f"The Floor Division is {num1} // {num2} = ",num1//num2)
print(f"{num1} equal to {num2} = ",num1==num2)
print(f"{num1} not equal to {num2} = ",num1!=num2)
print(f"{num1} greater than {num2} = ",num1>num2)
print(f"{num1} less than {num2} = ",num1<num2)
print(f"{num1} greater than or equal to{num2} = ",num1>=num2)
print(f"{num1} less than or equal to {num2} = ",num1<=num2)

Enter the first number:  78
Enter the second number:  78

The Addition is 78 + 78 =  156
The Subtraction is 78 - 78 =  0
The Multiplication is 78 * 78 =  6084
The Division is 78 / 78 =  1.0
The Modulus is 78 % 78 =  0
The Exponentiation is 78 ** 78 =  3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464
The Floor Division is 78 // 78 =  1
78 equal to 78 =  True
78 not equal to 78 =  False
78 greater than 78 =  False
78 less than 78 =  False
78 greater than or equal to78 =  True
78 less than or equal to 78 =  True

# Assignment operator

In [25]:
num=int(input("Enter the first number: "))
print("Inital value: ",num)
num+=5
print("After increment: ",num)
num-=5
print("After decrement: ",num)

Enter the first number:  10

Inital value:  10
After increment:  15
After decrement:  10

In [27]:
email = input("Enter your email: ")
password = input("Enter your password: ")
print(email == "admin@gmail.com" and password=="admin")

Enter your email:  admin@gmail.com
Enter your password:  fiza

False

In [29]:
num=int(input("Enter the number to check for postive or negative: "))
if num>0:
    print(f"{num} is a positive number")
elif num==0:
    print(f"{num} is zero")
else:
    print(f"{num} is a negative number")

Enter the number to check for postive or negative:  11

11 is a positive number

In [31]:
num=int(input("Enter the number to check for postive or negative: "))
if num>0:
    if num%2==0:
        print(f"{num} is a positive even number")
    else:
        print(f"{num} is a positive odd number")
elif num==0:
    print(f"{num} is zero")
else:
    print(f"{num} is a negative number")

Enter the number to check for postive or negative:  13

13 is a positive odd number

# Pass Statement

In [32]:
num = 5
if num>0:
    pass
else:
    print("This is a pass statement")

# Task

In [46]:
marks = int(input("Enter your marks for your grading"))
if marks>=90 or marks>=100:
    print("Grade A")
elif marks>=89 or marks>=70:
    print("Grade B")
elif marks>=69 or marks>=50:
    print("Grade C")
elif marks<50:
    print("Sorry You FAILED")
else:
    print("Enter the correct marks")

Enter your marks for your grading 900

Grade A

In [48]:
num=int(input("Enter the number to check for postive or negative: "))
if num>0:
    if num%2==0:
        print(f"{num} is a positive even number")
    else:
        print(f"{num} is a positive odd number")
elif num==0:
    print(f"{num} is zero")
else:
    print(f"{num} is a negative number")

Enter the number to check for postive or negative:  45

45 is a positive odd number

In [59]:
amt=int(input("Enter the purchase amount: "))

if amt<=500:
    dis=amt*0.2
    pay=amt-dis
    print(f"Your purchase amount is {amt}\nThe discount is 20%\nThe discount amount: {dis}\nThe amount to be payed: {pay}")
elif amt<500 or amt>=200:
    dis=amt*0.1
    pay=amt-dis
    print(f"Your purchase amount is {amt}\nThe discount is 20%\nThe discount amount: {dis}\nThe amount to be payed: {pay}")

Enter the purchase amount:  89

Your purchase amount is 89
The discount is 20%
The discount amount: 17.8
The amount to be payed: 71.2

# Loops

In [60]:
count = 1
while count<=5:
    print("Count: ",count)
    count+=1

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5

In [61]:
for num in range(1,6):
    print("Number: ",num)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [63]:
for num in range(1,11):
    if num==5:
        print("Breaking number: ",num)
        break
    print("Number: ",num)

Number:  1
Number:  2
Number:  3
Number:  4
Breaking number:  5

# Activity

In [73]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the last number: "))

if num1 > 0 and num2 > 0:
    if num1 < num2:
        total_sum = sum(range(num1 + 1, num2))
        print(f"The sum of all positive numbers between {num1} and {num2} is {total_sum}")
    else:
        print("The first number should be less than the last number.")
else:
    print("Please enter positive numbers for the range.")

Enter the first number:  20
Enter the last number:  100

The sum of all positive numbers between 20 and 100 is 4740

# pattern

In [2]:
def pattern(n):
    num = 1
    for i in range(0,n):
        num = 1
        for j in range(0,i+1):
            print(num,end=" ")
            num+=1
        print("")
n=5
pattern(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Functions

In [74]:
def greet(name):
    print(f"Good day {name}")
greet("Fiza")

Good day Fiza

In [76]:
def factorial(n):
    if n==1:
        return 1
    else: 
        return n*factorial(n-1)
print(factorial(5))

120

In [79]:
email = input("Enter your email: ")
password = input("Enter your password: ")

def validate_email(email):
    if email == "admin@gmail.com":
        return True
def validate_password(password):
    if password == "admin":
        return True
        
if validate_email(email):
    print("Email is valid.")
else:
    print("Email is invalid.")

if validate_password(password):
    print("Password is valid.")
else:
    print("Password is invalid.")

Enter your email:  admihn@gmail.com
Enter your password:  admin

Email is invalid.
Password is valid.

In [31]:
mylist = [10,20,14]
mylist[2]

14

In [32]:
mylist.append(20)

In [33]:
mylist

[10, 20, 14, 20]

In [34]:
mylist.insert(3,21)
mylist

[10, 20, 14, 21, 20]

In [35]:
data = mylist.pop()
print(data)
mylist

20

[10, 20, 14, 21]

In [36]:
min(mylist)

10

In [37]:
max(mylist)

21

In [38]:
sum(mylist)

65

In [39]:
#check membership
20 in mylist

True

In [30]:
del(mylist)
mylist

NameError: name 'mylist' is not defined

In [40]:
fruit = ["Apple","Cherry","Tomato","Graphs"]
fruit[1:3]

['Cherry', 'Tomato']

In [43]:
fruit.extend(["Green Apple","Red Apple"])
fruit

['Apple',
 'Cherry',
 'Tomato',
 'Graphs',
 'Green Apple',
 'Red Apple',
 'Green Apple',
 'Red Apple']

In [45]:
fruit[4]="Yellow apple"
fruit

['Apple',
 'Cherry',
 'Tomato',
 'Graphs',
 'Yellow apple',
 'Red Apple',
 'Green Apple',
 'Red Apple']

In [46]:
del fruit[4]
fruit

['Apple',
 'Cherry',
 'Tomato',
 'Graphs',
 'Red Apple',
 'Green Apple',
 'Red Apple']

In [52]:
fruit.clear()

In [53]:
fruit

[]

In [58]:
mydata = [1,2,3,4,5,6,7,8,9,10]
for num in mydata:
    print(num)

i=0
while i<len(mydata):
    print(mydata[i])
    i+=1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [63]:
data = [234,3,1,75,67,235,56]
data.sort()
data

[1, 3, 56, 67, 75, 234, 235]

In [64]:
data.reverse()
data

[235, 234, 75, 67, 56, 3, 1]

In [65]:
copy = data.copy()
copy

[235, 234, 75, 67, 56, 3, 1]

In [66]:
square = [x**2 for x in range(1,6)]
square

[1, 4, 9, 16, 25]

# Tuple

In [76]:
fruit = ("Green Apple","Red Apple","Banana","jackfruit","Mango")
fruit

('Green Apple', 'Red Apple', 'Banana', 'jackfruit', 'Mango')

In [71]:
mixed = ("Test",1,"a",3.14,[3,8,9])
mixed

('Test', 1, 'a', 3.14, [3, 8, 9])

In [72]:
emp=()
emp

()

In [74]:
single = ("Helooo",)
type(single)

tuple

In [77]:
fruit[-1]

'Mango'

In [78]:
num_tuple = (1,2,3)
num_list = list(num_tuple)
num_list.append(4)
num_tuple = tuple(num_list)
num_tuple

(1, 2, 3, 4)

# Dictinary

In [88]:
employee = {
    "eid":1001,
    "name":"Alice",
    "department":"I.T",
    "salary": 50000
}
for key in employee:
    print(key,":",employee[key])

eid : 1001
name : Alice
department : I.T
salary : 50000

In [94]:
employee = {
    "eid":1001,
    "name":"Alice",
    "department":"I.T",
    "salary": 50000
}
for key,value in employee.items():
    print(key,":",value)

eid : 1001
name : Alice
department : I.T
salary : 50000

In [95]:
if "salary" in employee:
    print("salary in employee")

salary in employee

In [84]:
employee['eid']
employee['name']
employee['department']
employee['salary']

50000

In [86]:
print(employee.get('manager'))

None

In [87]:
print("Manager: ",employee.get('manager','Fiza'))

Manager:  Fiza

# Sets

In [98]:
myset = {404,200,500,302,403}
print(myset)

{403, 404, 500, 200, 302}

In [99]:
for num in myset:
    print(num)

403
404
500
200
302

In [101]:
myset.update([200,600])
myset

{200, 302, 403, 404, 500, 600}

In [103]:
myset.discard(200)
myset

{302, 403, 404, 500, 600}

In [104]:
myset.pop()
myset

{302, 404, 500, 600}

In [105]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

print(a|b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [106]:
print(a&b)
print(a.intersection(b))

{4, 5}
{4, 5}

In [107]:
print(a-b)
print(a.difference(b))

{1, 2, 3}
{1, 2, 3}

In [108]:
print(a^b)
print(a.symmetric_difference(b))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [112]:
# Initialize a dictionary with 3 employees and their salaries
employees = {
    "em1": {"name": "Alice", "salary": 70000},
    "em2": {"name": "Bob", "salary": 80000},
    "em3": {"name": "Charlie", "salary": 75000}
}

def add_employee(emp_id, name, salary):
    employees[emp_id] = {"name": name, "salary": salary}
    print(f'Employee "{name}" with salary {salary} added.')


def update_employee(emp_id, new_salary):
    if emp_id in employees:
        employees[emp_id]["salary"] = new_salary
        print(f'Employee "{employees[emp_id]["name"]}" salary updated to {new_salary}.')
    else:
        print(f'Employee with ID "{emp_id}" not found.')

def remove_employee(emp_id):
    if emp_id in employees:
        removed_employee = employees.pop(emp_id)
        print(f'Employee "{removed_employee["name"]}" removed.')
    else:
        print(f'Employee with ID "{emp_id}" not found.')

def print_all_employees():
    print("Current employees and salaries:")
    for emp_id, details in employees.items():
        print(f'{emp_id}: {details["name"]} - {details["salary"]}')


print("Initial employees and salaries:")
print_all_employees()
add_employee("em4", "David", 85000)
update_employee("em2", 90000)
remove_employee("em3")

print("Updated employees and salaries:")
print_all_employees()

Initial employees and salaries:
Current employees and salaries:
em1: Alice - 70000
em2: Bob - 80000
em3: Charlie - 75000
Employee "David" with salary 85000 added.
Employee "Bob" salary updated to 90000.
Employee "Charlie" removed.
Updated employees and salaries:
Current employees and salaries:
em1: Alice - 70000
em2: Bob - 90000
em4: David - 85000