In [1]:
import numpy as np

In [2]:
np.__version__

'2.2.2'

In [3]:
# Array creation
list = [10,20,30,40,50]
arr = np.array(list)
arr

array([10, 20, 30, 40, 50])

In [4]:
type(arr)

numpy.ndarray

In [5]:
arr.shape

(5,)

In [6]:
arr1 = np.array([1,2,3,4])
arr2 = np.array([[1,2,3,4],[5,6,7,8]])
print(arr1)
print(arr2)
print(arr1.shape)
print(arr2.shape)
print(arr1.size)
print(arr2.size)
print(arr1[0])
print(arr2[0][1])

[1 2 3 4]
[[1 2 3 4]
 [5 6 7 8]]
(4,)
(2, 4)
4
8
1
2

In [7]:
arr1 = np.zeros((2,3))

In [8]:
arr1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [9]:
arr2 = np.ones((3,3))

In [10]:
arr2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [11]:
arr3 = np.arange(1,10,3)
arr3

array([1, 4, 7])

In [12]:
samp = np.array([np.arange(1,10,3),np.arange(2,10,3)])
samp

array([[1, 4, 7],
       [2, 5, 8]])

In [13]:
arr3 = np.arange(1,10,3)
arr4 = np.arange(2,10,3)
arr3+arr4

array([ 3,  9, 15])

In [14]:
arr3*arr4

array([ 2, 20, 56])

In [15]:
arr3

array([1, 4, 7])

In [16]:
arr3**2

array([ 1, 16, 49])

In [17]:
purchase = np.array([
    [200,150,100],
    [300,250,400],
    [100,200,150],
    [500,600,550],
    [50,80,100]
])
total_spend = purchase.sum(axis=1)
average_spend = purchase.mean(axis=1)
print("Total spend:",total_spend)
print("Average  spend:",average_spend)
print(max(average_spend))

Total spend: [ 450  950  450 1650  230]
Average  spend: [150.         316.66666667 150.         550.          76.66666667]
550.0

In [18]:
#2x+3y=8
#4x+y=10

a = np.array([[2,3],[4,1]])
b = np.array([8,10])
solution = np.linalg.solve(a,b)
solution

array([2.2, 1.2])

In [19]:
import numpy as np
sales = np.array([1000, 1800, 1500, 1100, 1900, 1500, 1950, 2000, 1750, 1400])
#sort
print("sort: ",np.sort(sales))
#total sales
total_sales = np.sum(sales)
#average sales
avg_sales = np.mean(sales)
#highest sales
highest_sales = np.max(sales)
#lowest sales
lowest_sales = np.min(sales)

# Store sales in ascending order
sorted_sales = np.sort(sales)
print(f"Sales in ascending order: {sorted_sales}")
print(f"Total Sales: {total_sales}")
print(f"Average Sales: {avg_sales}")
print(f"Highest Sales: {highest_sales}")
print(f"Lowest Sales: {lowest_sales}")

#above the average
days_above_avg = np.where(sales > avg_sales)[0]
print(f"Days with sales above the average: {days_above_avg}")

#10% increase
increased_sales = sales * 1.10
print(f"Sales with 10% increase: {increased_sales}")

sort:  [1000 1100 1400 1500 1500 1750 1800 1900 1950 2000]
Sales in ascending order: [1000 1100 1400 1500 1500 1750 1800 1900 1950 2000]
Total Sales: 15900
Average Sales: 1590.0
Highest Sales: 2000
Lowest Sales: 1000
Days with sales above the average: [1 4 6 7 8]
Sales with 10% increase: [1100. 1980. 1650. 1210. 2090. 1650. 2145. 2200. 1925. 1540.]

In [20]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
print(df)

   Order_ID       Product     Category  Quantity  Price  Total_Amount  \
0      1001        Laptop  Electronics         2    700           NaN
1      1002  Mobile Phone  Electronics         1    500           NaN
2      1003    Headphones  Accessories         3     50           NaN
3      1004         Mouse  Accessories         2     20           NaN
4      1005      Keyboard  Accessories         1     30           NaN
5      1006       T-shirt     Clothing         4     15           NaN
6      1007        Jacket     Clothing         1     60           NaN
7      1008  Refrigerator  Electronics         1    900           NaN
8      1009            TV  Electronics         2   1100           NaN
9      1010         Shoes     Clothing         2     40           NaN

         Date
0  2024-02-01
1  2024-02-02
2  2024-02-03
3  2024-02-04
4  2024-02-05
5  2024-02-06
6  2024-02-07
7  2024-02-08
8  2024-02-09
9  2024-02-10

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      10 non-null     int64
 1   Product       10 non-null     object
 2   Category      10 non-null     object
 3   Quantity      10 non-null     int64
 4   Price         10 non-null     int64
 5   Total_Amount  0 non-null      float64
 6   Date          10 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 692.0+ bytes

In [22]:
df.isnull()

   Order_ID  Product  Category  Quantity  Price  Total_Amount   Date
0     False    False     False     False  False          True  False
1     False    False     False     False  False          True  False
2     False    False     False     False  False          True  False
3     False    False     False     False  False          True  False
4     False    False     False     False  False          True  False
5     False    False     False     False  False          True  False
6     False    False     False     False  False          True  False
7     False    False     False     False  False          True  False
8     False    False     False     False  False          True  False
9     False    False     False     False  False          True  False

In [23]:
df.fillna(0)

,Order_ID,Product,Category,Quantity,Price,Total_Amount,Date
0,1001,Laptop,Electronics,2,700,0.0,2024-02-01
1,1002,Mobile Phone,Electronics,1,500,0.0,2024-02-02
2,1003,Headphones,Accessories,3,50,0.0,2024-02-03
3,1004,Mouse,Accessories,2,20,0.0,2024-02-04
4,1005,Keyboard,Accessories,1,30,0.0,2024-02-05
5,1006,T-shirt,Clothing,4,15,0.0,2024-02-06
6,1007,Jacket,Clothing,1,60,0.0,2024-02-07
7,1008,Refrigerator,Electronics,1,900,0.0,2024-02-08
8,1009,TV,Electronics,2,1100,0.0,2024-02-09
9,1010,Shoes,Clothing,2,40,0.0,2024-02-10

In [24]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [25]:
df.dtypes

Order_ID          int64
Product          object
Category         object
Quantity          int64
Price             int64
Total_Amount    float64
Date             object
dtype: object

In [30]:
df['Date']=pd.to_datetime(df['Date'])

In [29]:
df.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity                 int64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [31]:
df['Product'] = df['Product'].astype(str)
df['Category'] = df['Category'].astype(str)
df.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity                 int64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [32]:
df['Product'] = df['Product'].astype(str)
df.dtypes

Order_ID                 int64
Product                 object
Category                object
Quantity                 int64
Price                    int64
Total_Amount           float64
Date            datetime64[ns]
dtype: object

In [34]:
data = np.array([10,12,12,15,18,21,25,100])
q1 = np.percentile(data,25)
q2 = np.percentile(data,75)
IQR = q2-q1
lower_bound = q1-1.5*IQR
upper_bound = q2+1.5*IQR
outlier = data[(data<lower_bound)|(data>upper_bound)]
print("Outliers: ",outlier)

Outliers:  [100]